@charset "UTF-8";

body{
    background-color: rgb(205, 255, 203);
}
h1{
    color: rgb(4, 109, 0);
}
h2{
    color: rgb(13, 230, 13);
}
#principal {
    text-align: center;
    background-color: green;
    color: white;
}
